!!!
%html
  %head
    %title Final Project
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    - if user_signed_in?
      = link_to('Logout', destroy_user_session_path, :method => :delete)
      = link_to('Edit registration', edit_user_registration_path)
      = "Logged in as #{current_user.first_name}"
    - else
      = link_to('Login', new_user_session_path)
      = link_to('Register', new_user_registration_path)
    = yield
