%body.dashboard
  .container
    %h1.dashboard My Profile
    %br/
    %h2.dashboard Photos

    .photos-dash
      - @photos.each do |photo|
        .photo-dash
          .title
            = photo.title
          .image
            = image_tag(photo.image)
            - if photo.location
              = "#{photo.location.latitude} #{photo.location.longitude}"
          .links
            = link_to "Delete", photo_path(photo), method: :delete
            |
            = link_to "Edit", edit_photo_path(photo)
          .memories
            %ul
              - photo.memories.each do |memory|
                %li= memory.text
          .location
            = photo.location.address unless photo.location.nil?
            %br/

    = link_to "Add Photo", new_photo_path
    %br/

    .dash-unit
      #links.right
        = link_to "My Profile", user_path(current_user)
